@model egovBroadcastingModel.Models.Comment

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Comment</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommentDateTime" class="control-label"></label>
                <input asp-for="CommentDateTime" class="form-control" />
                <span asp-validation-for="CommentDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DisasterNoticeId" class="control-label"></label>
                <select asp-for="DisasterNoticeId" class="form-control" asp-items="ViewBag.DisasterNoticeId"></select>
                <span asp-validation-for="DisasterNoticeId" class="text-danger"></span>
            </div>
            @* <input type="hidden" asp-for="DisasterNoticeId" value="@ViewBag.DisasterNoticeId" /> *@

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @* <a asp-action="Details" asp-controller="DisasterNotice" asp-route-id="@ViewBag.DisasterNoticeId">Back to Notice</a> *@

    <a asp-controller="DisasterNotices" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
