@model WebAppLab5.Models.DepartmentModel

<h2>Edit Department</h2>

<form asp-controller="Department" asp-action="Edit" method="post">
    <div>
        <label asp-for="DepId"></label>
        <input asp-for="DepId" />
        <span asp-validation-for="DepId" class="text-danger"></span>
    </div>
    
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Description"></label>
        <textarea asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
