@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model EmployeeModel;
@{
    <span>Single Employee satisfying input id</span>

            <p>ID => @Model.Id</p>
            <p>Name =>@Model.Name</p>
            <p>Email =>@Model.Email</p>
}
